@import "../../scss/includes.scss";

.container {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
  margin-top: 10rem;
  position: relative;
}

.list {
  width: 100%;
  text-align: center;
  float: left;
  margin-bottom: 4rem;
  @include media(">tablet") {
    width: 50%;
  }
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  li {
    display: inline-block;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    height: 35px;
    border: 2px solid $color-accent;
    border-radius: 20px;
    color: $color-text;
    background: $color-main-dark;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 32px;
  }
  &:nth-of-type(1) {
    li {
      &:hover {
        background-color: $color-accent;
        color: $color-main-dark;
      }
    }
  }
  &:nth-of-type(2) {
    li {
      border-color: $color-main-light;
      &:hover {
        background-color: $color-main-light;
        color: $color-main-dark;
      }
    }
    .planning {
      opacity: 50%;
    }
  }
}
